@page
@model Assignment3_Group20.Pages.KitchenOverviewModel

@{
    ViewData["Title"] = "KitchenOverview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>KitchenOverview</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    @*based on https://stackoverflow.com/questions/58618679/how-do-i-call-a-function-or-a-method-on-a-select-list-if-the-value-changes*@
    <form method="post" asp-page-handler="FilterList">
        <th>
            ChosenDate: <input class="form-control" asp-for="ChosenDate" onchange="this.form.submit();"/>
        </th>
    </form>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].Children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].isCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].RoomNumber)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Reservation)
    {
        <tr>
@*            @{
                if (Model.ChosenDate == item.isCheckedIn)
                {*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Adults)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Children)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isCheckedIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                @*}*@
            @*}*@

        </tr>
    }
    </tbody>
</table>
