@page
@model Assignment3_Group20.Pages.KitchenOverviewModel

@{
    ViewData["Title"] = "KitchenOverview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>KitchenOverview</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        
        <th>
            ChosenDate: <input class="form-control" asp-for="ChosenDate" />
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].Children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].isCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation[0].RoomNumber)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
    <tr>
@*        @{
            if (item.isCheckedIn == @Chosen)
            {
                
            }
        }*@
        <td>
            @Html.DisplayFor(modelItem => item.Adults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Children)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCheckedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
