@page
@model Assignment3_Group20.Pages.KitchenOverviewModel

@{
    ViewData["Title"] = "KitchenOverview";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>KitchenOverview</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    @*based on https://stackoverflow.com/questions/58618679/how-do-i-call-a-function-or-a-method-on-a-select-list-if-the-value-changes*@
    <form method="post" asp-page-handler="FilterList">
        <th>
            ChosenDate: <input class="form-control" asp-for="ChosenDate" onchange="this.form.submit();"/>
        </th>
    </form>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].TotalGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].TotalAdults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].TotalChildren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].AdultsCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].ChildrenCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].TotalNotCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].AdultsNotCheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitchenDataList[0].ChildrenNotCheckedIn)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.KitchenDataList)
    {
        <tr>
            @*            @{
                if (Model.ChosenDate == item.isCheckedIn)
                {*@
            <td>
                @Html.DisplayFor(modelItem => item.TotalGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildrenCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildrenNotCheckedIn)
            </td>
            @*}*@
            @*}*@

        </tr>
    } 
   
    </tbody>
</table>

<script type="text/javascript">
    function reloadPage()
    {
        window.location.reload()
    }
</script>
