@page
@model Assignment3_Group20.Pages.TodaysBreakfastModel

@{
    ViewData["Title"] = "Todays Breakfast";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List of of checked in guests for todays breakfast</h1>


<p>
    <a asp-page="BreakfastCheckIn">Check new guest in</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Children)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].isCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].RoomNumber)
            </th>
            <th>
                <text>Guest is checked in at:</text>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        
    <tr>
    @{
        if (item.isCheckedIn.Date == DateTime.Today)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                <text>Yes</text>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.isCheckedIn)

            </td>
        }
    }
    </tr>
}
    </tbody>
</table>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/kitchenOverview.js"></script>